* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: hsl(0deg, 0%, 60%);
  font-size: 112.5%;
}

h1 {
  padding-bottom: 30px;
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  padding: 16px;
  margin-left: -48px;
  margin-top: -32px;
  width: fit-content;
}

.intro-chunk {
  border-bottom: 8px solid hsl(0deg, 0%, 30%);
  padding: 128px;
}

.max-width-wrapper {
  background-color: white;
  margin: 0 auto;
}

section.max-width-wrapper {
  margin-top: 96px;
  max-width: 800px;
  padding: 48px;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

/* Add styles here! */
